@media only screen and (min-width: 37.5em) {
  

     
    header #logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
}
    header h1 {
    font-family: serif;
    font-size: 400%;
    margin: 1rem auto;
    padding: .2rem;
    color: #007486; 
}
  
  
    section.forecast { 
        display: flex; 
        flex-flow: row nowrap; 
        justify-content: space-around;
}  


    .photogallery{
         padding: 0 2%;
         display: grid;
         grid-template-columns:repeat(2, 50%);        
}

.calltoaction {
    position: absolute;
    top: 90%;
    font-size: 90%;
    
}
    .calltoaction2 {
    position: absolute;
    top: 110%;
    font-size: 90%;
}

    .tours, .tours2 {
        font-size: 30px;
    }
    
/*-----top navigation-------*/
   .topnav a {
        font-size: 3em;
       padding: 1% 3.5% 1% 3.5%
    }

/*------contact page------*/
    #welovetohear{
    text-align: center;
    font-size: 3em;
}
#phonenumber {
    text-align: center;
    font-size: 3em;
    
}
#email {
     text-align: center;
    font-size: 3em;
}

