@media only screen and (min-width: 37.5em) {
 

     
    header #logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
}
    header h1 {
    font-family: serif;
    font-size: 400%;
    margin: 1rem auto;
    padding: .2rem;
    color:#ec9d80; 
}
    
    nav button {
        display:none;
}
    nav ul.hide {
       display: flex;
}
    nav ul {
        flex-flow: row nowrap;
        list-style-type: none;
}
    nav ul li {
        border: none;
        text-align: center;
        padding: 2%;   
        border-collapse:separate;
}
    nav ul li a{
        border: none;
}
    section.forecast { 
        display: flex; 
        flex-flow: row nowrap; 
        justify-content: space-around;
} 

    .article{        
        display: flex;
        margin: 1.25rem;
        padding: .25rem;
}


  
    .photogallery{
         padding: 0 2%;
         display: grid;
         grid-template-columns:repeat(2, 50%);        
}
  
    
