/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

/*--------all pages--------*/

body {
font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
    background-color: #7e827a;
  /* Declare the base font-family - from google font api or other */
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {
    display: flex;
    margin: 0 auto;
    min-width: 1010px;
    background-color: #c57968;
    width: 100%;
}
header h1 {
    font-family: serif;
    font-size: 60px;
    padding-left: 20px;
    color: white;
    padding-top: 15px;
    
}
header img {
    padding-bottom: 10px;
    padding-left: 20px;
}
header .subheading {
    margin-top: 120px;
    margin-left: -200px;
    font-size:20px;
    color: #fddbdd;
}

nav {
}
nav button {
    display:block;
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #ffd3ab;
    height: 40px;
    width: 100%;
}
nav ul li {
    margin: 0 auto;
padding: 10px;}
nav ul li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    font-family: serif;
}
nav ul li.active a {
    color: white;
}
nav ul li a:hover {
    color: #358078;
}

footer {
    display: flex;
    margin: 0 auto;
    min-width: 1010px;
    background-color: #ffd3ab;
    width: 100%;}
footer aside {}
footer>p {}

/*----franklin page-----*/

main {
    padding: 10px 10px 10px 10px;
}
#cityoffranklin{
    margin-right: 70%;
    font-family: serif;
    font-size: 40px;
    color: #c57968;
    background-color: #acacac;
    border: 2px solid #acacac;
    border-bottom-right-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    
}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { 
    width: 100%;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px;
}
.highlow {
    font-size: 20px;
    background-color: #acacac;
    border: 2px solid #acacac;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    text-align: center;
    margin: 10px;
}
.conditions {
    font-size: 40px;
    background-color: #acacac;
    border: 2px solid #acacac;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    text-align: center;
    margin: 10px;
}
.current {
    font-size: 40px;
    background-color: #c57968;
    border: 2px solid #c57968;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    text-align: center;
    margin: 10px;
}
.forecast {
    padding-left: 25%;
    font-size: 24px;
    background-color: #acacac;
    border: 2px solid #acacac;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
    text-align: center;
    margin: 10px;
}
h3, h2 {
    text-align: center;
}
#tendays {
    padding-right: 35%;
}
article p.town-article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: ???; /* fill the page in the small/phone view */
  margin: ???;
}

/*------gallery page-------*/

#gallerytitle {
    margin-right: 70%;
    font-family: serif;
    font-size: 40px;
    color: #c57968;
    background-color: #acacac;
    border: 2px solid #acacac;
    border-bottom-right-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    
}

.photogrid img {
    border: 2px solid #acacac;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
}

figure {
    padding: -10px;
    text-align: center;
}
figure img {
    margin: 20px;
    
}
.photogrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

}

fieldset {
    padding: 20px;
    margin: 20px;
}

label {
    font-size: 20px;
}

legend {
    font-size: 30px;
    
    
}

#form {
    padding: 30px;
    
}
 /* This structure refers to p elements that are direct children of the footer element */

/*---------home page----------*/
#home {
padding: 10px 10px 10px 10px;
    display: flex;
    margin: 0 auto;
    
    
}
#home article h2{
    padding: 10px;
    font-family: serif;
    color: #c57968;
    font-size: 3em;
    margin: 20px;
    background-color: #acacac;
    border: 2px solid #acacac;
    border-bottom-left-radius: 10px 10px;
    border-bottom-right-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    border-top-left-radius: 10px 10px;
}
#home article p {
    font-size: 20px;
   margin: 20px;
    color: white;
    
}

#home article ul {
    padding-left: 20px;
    font-size: 1.2em;
    color: white;
    margin: 20px;
    
}
span {

}